{% extends "admin/change_list.html" %}
{% block content_title %}
    <h1> Статистика по продажам </h1>
{% endblock %}
{% load humanize %}
{% load mathtags %}

{% block result_list %}
    <div class="results">
        <table>
            <thead>
            <tr>
                <th>
                    <div class="text">
                        <a href="#">Подписка</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Количество подписок</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Общая сумма покупок за выбранный период</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">
                            <strong>% от общих продаж</strong>
                        </a>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for row in summary %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td> {{ row.subscription }} </td>
                    <td> {{ row.total | intcomma }} </td>
                    <td> {{ row.total_sales | default:0 | intcomma }} руб. </td>
                    <td>
                        <strong>
                            {{ row.total_sales |default:0 | percentof:summary_total.total_sales }} %
                        </strong>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
                <td> Итого </td>
                <td> {{ summary_total.total | intcomma }} </td>
                <td> {{ summary_total.total_sales | default:0 }} руб. </td>
                <td> 100% </td>
            </tr>

        </table>
    </div>
{% endblock %}

{% block pagination %}{% endblock %}